<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Taco</title>
        <link rel="stylesheet" th:href="@{styles/styles.css}" />
    </head>

    <body>
        <header>
            <h1>Design your taco!</h1>
            <img th:src="@{/images/taco.png}"/>
        </header>
        <main>
            <form method="POST" th:object="${taco}" class="grid">
                <span class="validationError"
                    th:if="${#fields.hasErrors('ingredients')}"
                    th:errors="*{ingredients}">
                    Ingredient Error
                </span>
                <h3>Designate your wrap:</h3>
                <th:block th:each="ingredient : ${wrap}">
                    <input th:field="*{ingredients}" type="checkbox" th:value="${ingredient.id}"/>
                    <span th:text="${ingredient.ingredientName}">INGREDIENT</span> <br/>
                </th:block>

                <h3>Pick your protein:</h3>
                <th:block th:each="ingredient : ${protein}">
                    <input th:field="*{ingredients}" type="checkbox" th:value="${ingredient.id}"/>
                    <span th:text="${ingredient.ingredientName}">INGREDIENT</span><br/>
                </th:block>

                <h3>Choose your cheese:</h3>
                <th:block th:each="ingredient : ${cheese}">
                    <input th:field="*{ingredients}" type="checkbox" th:value="${ingredient.id}"/>
                    <span th:text="${ingredient.ingredientName}">INGREDIENT</span><br/>
                </th:block>

                <h3>Determine your veggies:</h3>
                <th:block th:each="ingredient : ${veggies}"> 
                    <input th:field="*{ingredients}" type="checkbox" th:value="${ingredient.id}"/>
                    <span th:text="${ingredient.ingredientName}">INGREDIENT</span><br/>
                </th:block>

                <h3>Select your sauce:</h3>
                <th:block th:each="ingredient : ${sauce}">
                    <input th:field="*{ingredients}" type="checkbox" th:value="${ingredient.id}"/>
                    <span th:text="${ingredient.ingredientName}">INGREDIENT</span><br/>
                </th:block>
            
                <h3>Name your taco creation:</h3>
                <input type="text" th:field="*{tacoName}"/>
                <span class="validationError" th:if="${#fields.hasErrors('tacoName')}" th:errors="*{tacoName}">
                    Name Error
                </span>
                <br/>
                <button>Submit Your Taco</button>
            </form>
        </main>
    </body>
</html>