<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Taco - Home</title>
    </head>
    <body>
        <header>
            <h1>Welcome to Taco</h1>
        </header>
        <main>
            <p>
                Taco is a simple web application that allows you to create and manage your own tacos.
            </p>
            <p>
                <a href="/tacos">See all tacos</a>
            </p>
            <img th:src="@{/images/taco.png}" alt="An Taco image" />
        </main>
        <footer>
            <p>&copy; 2024 Taco</p>
        </footer>
    </body>
</html>