<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
      <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" th:href="@{styles/styles.css}">
            <title>Taco - Order</title>
      </head>
      <body>
            <form method="POST" th:action="@{/orders}" th:object="${tacoOrder}">
                  <h1>Order your taco creations!</h1>
            
                  <img th:src="@{/images/taco.png}"/>
            
                  <h3>Your tacos in this order:</h3>
                  <a th:href="@{/design}" id="another">Design another taco</a><br/>
                  <ul>
                        <li th:each="taco : ${tacoOrder.tacos}">
                              <span th:text="${taco.tacoName}">taco name</span>
                        </li>
                  </ul>
            
                  <!-- end::allButValidation[] -->
                  <div th:if="${#fields.hasErrors()}">
                        <span class="validationError">
                              Please correct the problems below and resubmit.
                        </span>
                  </div>
            
                  <!-- tag::allButValidation[] -->
                  <h3>Deliver my taco masterpieces to...</h3>
                  <label for="clientName">Name: </label>
                  <input type="text" th:field="*{clientName}"/>
                  <!-- end::allButValidation[] -->
                  <span class="validationError"
                        th:if="${#fields.hasErrors('clientName')}"
                        th:errors="*{clientName}">
                        Name Error
                  </span>
                  <!-- tag::allButValidation[] -->
                  <br/>
            
                  <label for="clientStreet">Street address: </label>
                  <input type="text" th:field="*{clientStreet}"/>
                  <!-- end::allButValidation[] -->
                  <span class="validationError"
                        th:if="${#fields.hasErrors('clientStreet')}"
                        th:errors="*{clientStreet}">
                        Street Error
                  </span>
                  <!-- tag::allButValidation[] -->
                  <br/>
            
                  <label for="clientCity">City: </label>
                  <input type="text" th:field="*{clientCity}"/>
                  <!-- end::allButValidation[] -->
                  <span class="validationError"
                        th:if="${#fields.hasErrors('clientCity')}"
                        th:errors="*{clientCity}">
                        City Error
                  </span>
                  <!-- tag::allButValidation[] -->
                  <br/>
            
                  <label for="clientState">State: </label>
                  <input type="text" th:field="*{clientState}"/>
                  <!-- end::allButValidation[] -->
                  <span class="validationError"
                        th:if="${#fields.hasErrors('clientState')}"
                        th:errors="*{clientState}">
                        State Error
                  </span>
                  <!-- tag::allButValidation[] -->
                  <br/>
            
                  <label for="zip">Zip code: </label>
                  <input type="text" th:field="*{zip}"/>
                  <!-- end::allButValidation[] -->
                  <span class="validationError"
                        th:if="${#fields.hasErrors('zip')}"
                        th:errors="*{zip}">
                        Zip Error
                  </span>
                  <!-- tag::allButValidation[] -->
                  <br/>
            
                  <h3>Here's how I'll pay...</h3>
                  <!-- tag::validatedField[] -->
                  <label for="ccNumber">Credit Card #: </label>
                  <input type="text" th:field="*{ccNumber}"/>
                  <!-- end::allButValidation[] -->
                  <span class="validationError"
                        th:if="${#fields.hasErrors('ccNumber')}"
                        th:errors="*{ccNumber}">
                        CC Num Error
                  </span>
                  <!-- tag::allButValidation[] -->
                  <!-- end::validatedField[] -->
                  <br/>
            
                  <label for="ccExpiration">Expiration: </label>
                  <input type="text" th:field="*{ccExpiration}"/>
                  <!-- end::allButValidation[] -->
                  <span class="validationError"
                        th:if="${#fields.hasErrors('ccExpiration')}"
                        th:errors="*{ccExpiration}">
                        CC Num Error
                  </span>
                  <!-- tag::allButValidation[] -->
                  <br/>
            
                  <label for="ccCvv">CVV: </label>
                  <input type="text" th:field="*{ccCvv}"/>
                  <!-- end::allButValidation[] -->
                  <span class="validationError"
                        th:if="${#fields.hasErrors('ccCvv')}"
                        th:errors="*{ccCvv}">
                        CC Num Error
                  </span>
                  <!-- tag::allButValidation[] -->
                  <br/>
            
                  <input type="submit" value="Submit Order"/>
            </form>
            <footer>
                  <form method="POST" th:action="@{/logout}">
                        <input type="submit" value="Logout"/>
                  </form>
            </footer>
      </body>
</html>